<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.mapper.CommentMapper">
    <select id="getcomments" resultType="com.example.admin.pojo.comment">
        select * from competition_comment
        <where>
            <if test="checkid != null">
                is_approved = #{checkid}
            </if>
        </where>
    </select>
</mapper>